<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css.all.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <script type='text/javascript' src='http://code.jquery.com/jquery.min.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Index Page : FINDME</title>
</head>
<body>
<div class="container" id="container">
<div class="form-container sign-in-container">
    <form action="#"  id="sign-in"  method="post">
        <h1>Sign in</h1><br>
        <input type="tel"  name="phone" id="savedPhone" value="" title="Please Enter Your Phone Number" placeholder="Phone Number" autocomplete="off" minlength="10" maxlength="10" pattern="[1-9]{1}[0-9]{9}" required/>
        <button type="submit" id="go-button" class="go-button">GO</button><br>
    </form>
</div>
</div>
</body>
</html>