<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3 align="center">You should be automatically redirected in <span id="seconds">3</span> seconds </h3>
<input type="hidden" th:value="${location}" id="location"/>
<input type="hidden" th:value="${gmap}" id="location1"/>
</body>
<script>
var seconds = 2;
var foo;
document.getElementById('location1').value+=document.getElementById('location').value;
function redirect() {
    window.location.href=document.getElementById('location1').value;
}

function updateSecs() {
    document.getElementById("seconds").innerHTML = seconds;
    seconds--;
    if (seconds == -1) {
        clearInterval(foo);
        redirect();
    }
}

function countdownTimer() {
    foo = setInterval(function () {
        updateSecs()
    }, 1000);
}

countdownTimer();
</script>
</html>